.home-container {
    margin-top: 3.5rem;
    padding: 2rem ;
    min-height: 80dvh;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.hero {
    display: flex;
    gap: 2rem;
}

.info p {
    width: 50ch;
}

.blog-img {
    min-width: 250px;
    min-height: 250px;
}

.blog-img img {
    width: 100%;
    height: 100%;
}

.cta-btn {
    border: 2px solid #0886dff5;
    padding: 1rem;
    /* background-color: #0886dff5; */
    color: #0e0d0d;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
    display: block;
    margin: 2rem auto;
    position: relative;
    cursor: pointer;
    transition: background-color .4s ease-in, color .7s ease-in;
}

.cta-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2b8ce1;
  transition: width .7s ease-in, color .7s ease-in;
  color: white;
  border-radius: .9rem;
  z-index: -1;
}

.cta-btn:hover::before {
    width: 100%;
    /* z-index: 1; */
    color: white;
}

.cta-btn:hover{
    background-color: transparent;
    color: white;
}
