body {
    background-color: rgb(230, 233, 236);
}

.loginForm {
    min-width: 280px;
    max-width: 400px;
    padding: 2rem;
    margin: 6rem auto;
    background-color: white;
    box-shadow: 3px 5px 7px 0px;
    font-size: 1.3rem;
    border-radius: .5rem;
}

.signupForm {
    margin: 3rem auto;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input:focus {
    outline-color: rgb(34, 132, 245);
}

.loginForm form input {
    height: 2rem;
}

.btn {
    height: 2rem;
    border: 2px solid rgb(34, 132, 245);
    border-radius: .3rem;
    display: block;
    position: relative;
    font-size: 1.2rem;
    z-index: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn::before, .btn::after  {
    content: "";
    position: absolute;
    background-color: rgb(34, 132, 245);
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width .7s ease, .7s ease, opacity .7s ease;
}

.btn::before {
    left: 0;
}
.btn::after {
    right: 0;
}

.btn:hover::before, .btn:hover::after {
    width: 50%;
}

.btn:hover{
    color: white;
}

.para {
    font-size: 1rem;
    margin: 1rem 0 0;
}

.error {
    width: fit-content;
    padding: 10px;
    height: 3rem;
    background-color: red;
    margin-top: 1rem;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 0rem .4rem .4rem 0;
    animation: fadein 1s ease forwards;
    transition: opacity 1s ease;
    position: absolute;
}

@keyframes fadein {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}